* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #10161C;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 20px auto;
}
h1,
h3 {
  margin: 20px;
  text-align: center;
}
#Winner_annoucement {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
#containerMap {
  display: flex;
  flex-flow: row wrap;
  width: 700px;
  min-width: 600px;
  margin: 0 auto;
  overflow: visible;
  margin-bottom: 40px;
}
.coluna0,
.coluna1,
.coluna2,
.coluna3,
.coluna4,
.coluna5,
.coluna6 {
  border: solid gray 1px;
  width: 100px;
  height: 100px;
}
#containers {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#containers div {
  background-image: url(./img/arrow.svg);
  background-size: cover;
  border-radius: 3rem;
  width: 60px;
  height: 60px;
  margin: 0 0 0.5rem;
}
#containers div:hover {
  background-color: rgba(146, 148, 248, 0.4);
  box-shadow: 1px 1px 15px 5px rgba(146, 148, 248, 0.4);
  cursor: pointer;
}
.preto {
  border: solid white 1px;
  width: 100px;
  height: 100px;
}
.vermelho {
  border: solid white 1px;
  width: 100px;
  height: 100px;
}
.discoP {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 50%;
  background: radial-gradient(circle at 40px 40px, #3F4AF1, #000);
}
.discoV {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 50%;
  background: radial-gradient(circle at 40px 40px, #EF263D, #000);
}
.vermelho_placar {
  margin: 2px 5px;
  box-sizing: border-box;
  width: 3em;
  height: 3em;
  text-align: center;
  padding:1rem;
  background-image: linear-gradient(#EF263D, #9D260B);
  color: #fff;
  font-family: "MuseoModerno", cursive;
  font-size: 1.8em;
  border: solid 0.1em #fff;
  box-shadow: #9D260B 2px 2px 2px;
}
.azul_placar {
  margin: 2px;
  box-sizing: border-box;
  width: 3em;
  height: 3em;
  padding:1rem;
  background-image: linear-gradient(#3F4AF1, #300BA1);
  text-align: center;
  color: #fff;
  font-family: "MuseoModerno", cursive;
  font-size: 1.8em;
  border: solid 0.1em #fff;
  box-shadow: #3F4AF1 2px 2px 2px;
}
#placar_container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
#btn {
  margin: 20px;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #F4F4F4;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}
#btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  cursor: pointer;
}
#btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}
#btn:hover:before {
  left: 100%;
}